In [ ]:
import sys, os 
sys.path.append('/'.join(os.getcwd().split('/')[:4]))
from config.get import cfg
import pandas as pd
import numpy as np
from helper import check_and_create_dir
from sklearn.preprocessing import StandardScaler
from TokenStandardScaler import TokenStandardScaler
from sklearn.model_selection import train_test_split
cols = ["quotePrice","gasPrice"]
    
print("loading data")
data = pd.read_csv(cfg['files']['preprocessed_data'],nrows=10_000_000).drop(columns=["time"]) 
data = data.set_index(["cycle_id","token1","token2"])[cols]

/home/kapps/opt/venv-gcc/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in log
  """Entry point for launching an IPython kernel.

                        quotePrice  gasPrice
cycle_id token1 token2
1000     WETH   BPT      -5.320150  2.890372
                BPT      -4.456955  2.833213
                BPT      -4.492847  2.833213
                BPT      -4.715391  2.944439
                BPT      -2.994912  4.110874
...                            ...       ...
44764    WETH   AGS       5.700330  6.129050
                AGS       5.678938  6.115892
                AGS       5.599828  5.857933
                AGS       5.649365  5.857933
                AGS       5.603221  6.109248

[9999825 rows x 2 columns]

In [7]:
data

                        quotePrice    gasPrice
cycle_id token1 token2
1000     WETH   BPT       0.004892   17.999999
                BPT       0.011598   16.999999
                BPT       0.011189   16.999999
                BPT       0.008956   19.000001
                BPT       0.050041   60.999999
...                            ...         ...
44764    WETH   AGS     298.966130  458.999988
                AGS     292.638431  453.000004
                AGS     270.379835  349.999989
                AGS     284.110948  349.999989
                AGS     271.298946  449.999995

[10000000 rows x 2 columns]