In [1]:
import sys 
sys.path.append("/scratch/izar/kapps/DEX-Cyclic-Arbitrage/")
from config.get import cfg
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
print("===================================")     
data = pd.read_csv(cfg['files']['preprocessed_data'],nrows=100)

===================================

In [5]:
data.columns
cols = ['baseAmount', 'quoteAmount',
       'quotePrice', 'gasPrice', 'gasValue']

In [8]:
data[cols] =1
data

,cycle_id,token1,token2,baseAmount,quoteAmount,quotePrice,gasPrice,gasValue,time
0,1000,WETH,BPT,1,1,1,1,1,2020-05-31 20:25:35
1,1000,WETH,BPT,1,1,1,1,1,2020-05-31 20:34:44
2,1000,WETH,BPT,1,1,1,1,1,2020-05-31 20:38:21
3,1000,WETH,BPT,1,1,1,1,1,2020-05-31 21:03:51
4,1000,WETH,BPT,1,1,1,1,1,2020-06-06 07:04:33
...,...,...,...,...,...,...,...,...,...
95,1000,WETH,BPT,1,1,1,1,1,2020-06-08 23:03:28
96,1000,WETH,BPT,1,1,1,1,1,2020-06-08 23:29:01
97,1000,WETH,BPT,1,1,1,1,1,2020-06-09 00:17:27
98,1000,WETH,BPT,1,1,1,1,1,2020-06-09 00:47:02
99,1000,WETH,BPT,1,1,1,1,1,2020-06-09 00:48:03

In [ ]:
df_scaled = scaler.fit_transform(df.to_numpy())
df_scaled = pd.DataFrame(df_scaled, columns=[
  'sepal_length', 'sepal_width', 'petal_length', 'petal_width'])